/*-------------------BANNER--------------------*/







.banner_img{
	width: 100%;
}

.banner_img2{
	width: 90%;
	display: none;
}








.details_number img{
	width: ;
	margin-right: 10px;
	-webkit-touch-callout: none;
	
}









/*-------------------@ media--------------------*/


@medi only screen and (max-width: 700px) {
 
	.banner_img {
	display: none;
}
	
	.banner_img2{
		display: block;
	}
}
















.banner_img{
	width: 100%;
}









.details_number img{
	width: 100%;
	margin-right: 10px;
	-webkit-touch-callout: none;
	
}

