

/*--------------footer----------------------------*/
.footer_container{
	width: 100%;
	height: 560px;
	left: 0px;
	right: 0px;
	background-color: #1D1D1D;
	background-position: ;
	background-size: ;
	background-image: url("../img/background/.png");
	
	bottom: 0px;
	padding-top: 30px;
	padding-bottom: 0px;
	
}

.contact_footer_container{
	width: 100%;
	height: 100px;
	background-color: #1D1D1D;
	background-image: url("../img/background/.png");
	
	bottom: 0px;
	padding-top: 16px;
	padding-bottom: 0px;
	
}

.address{
	width: 360px;
	height: 200px;
	float: left;
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 30px;
	padding-bottom: 0px;
	color: white;
}

.all_address_div{

	padding-left: 40px;
	float: left;
}


.map_iframe{
	width: 400px;
	height: 450px;
}






.copy_right{
	color: white; 
	font-size:12px; 
	text-align: center;
	font-family: arial;
}





/*--------------Map @media and address----------------------------*/

@media only screen and (max-width: 1240px){
	.map_iframe{
		width: 350px;
		height: 400px;
	}
	
	.footer_container{
	height: 500px;
	}
	
	
}

@media only screen and (max-width: 1170px){
	.map_iframe{
		width: 250px;
		height: 300px;
	}
	
	.footer_container{
	height: 400px;
	}
	
}

@media only screen and (max-width: 1100px){
	.map_iframe{
		width: 750px;
		height: 300px;
	}
	
	.footer_container{
	height: 630px;
	}
	
}

@media only screen and (max-width: 880px){
	.map_iframe{
		width: 400px;
		height: 300px;
	}
	
}






@media only screen and (max-width: 780px){
	.footer_container{
		height: 900px;
	}
	
	.address{
			margin-left: 50%;
	transform: translate(-50%);
		z-index:0;
	}
	
	
}



@media only screen and (max-width: 480px){
	
	.map_iframe{
		width: 350px;
		height: 300px;
	}
	
	.all_address_div{
		padding-left: 10px;
	}
	
}


@media only screen and (max-width: 420px){
	
	.map_iframe{
		width: 300px;
		height: 300px;
		padding-top: -20px;
	}
	
	.address{
		width: 270px;
		font-size: 13px;
		padding-top: 0px;
	}
	
	
	.small_devider{
		width: 190px;
	}
	
	.footer_container{
	height: 850px;
	}
	.copy_right{
		font-size: 10px;
	}
}


@media only screen and (max-width: 355px){
	
	.map_iframe{
		width: 250px;
		height: 280px;
	}
	
	.address{
		width: 270px;
		font-size: 13px;
		padding-top: 0px;
	}
	
	
	.small_devider{
		width: 190px;
	}
	
	.copy_right{
		font-size: 12px;
	}
	
	.footer_container{
	height: 850px;
	}
	
}





@media only screen and (max-width: 315px){
	
	.map_iframe{
		width: 230px;
		height: 250px;
	}
	
	.address{
		width: 240px;
		font-size: 12px;
		padding-top: 0px;
	}
	
	.footer_container{
	height: 820px;
	}
	
	.copy_right{
		font-size: 10px;
	}

}




