.hideme{opacity: 0;}

body{
	
	bottom: 0px;
}

.read a:link, a:visited{
	color: #EC2D48;
}

a{
-webkit-tap-highlight-color: transparent;
	text-decoration: none;
}
/*---------------Header texts and parah---------------*/



/*---------------buttons-----------------*/
.btn_a a{
	color: white;
	text-decoration: none;
	
}


.btn{
	background: rgba(33,33,33,1.00);
	font: Arial;
	color: white;font-weight: 100;
	font-size:20px;
	padding:15px 30px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	margin-bottom:0;
	margin:10px;
	cursor:pointer;
	transition:color 0.4s linear;
	position:inherit;
	z-index:1;
	-moz-user-select:none;
	border:0;
	overflow:hidden;
	
}


.btn:hover
{
	background: #EC2D48;
}





@media only screen and (max-width: 540px) {

	.btn{
	font-size:15px;
	padding:10px 20px;
	display:inline-block;
	cursor:pointer;
	margin-bottom:0;
	margin:0px;
	
}
	
}





/*--------------Devider-----------------------*/

.devider{
	width: 100px;
	height: 2px;
	border-top: 2px solid #EC2D48;
	margin: 0px;
}

.small_devider{
	width: 300px;
	height:px;
	border-top: 2px solid #EC2D48;
	margin: 0px;
}

.devider_silver{
	width: 100%;
	height: 2px;
	border-top: 0.1px solid rgba(9,74,96,0.26);
	margin-bottom: 30px;
}

.devider_silver2{
	width: 100%;
	height: 1px;
	border-top: 1px solid rgba(9,74,96,0.26);
	margin-bottom: 15px;
	margin-top: 5px;
}


.devider_white{
	width: 100%;
	height: 2px;
	border-top: 0.1px solid rgba(255,255,255,0.26);
	margin: 2px 10px;
}


/*--------------sellection-----------------------*/

::selection{
  color: white;
  background: #EC2D48;
}

	
	
	

p1{
	font-family: arial;
	text-align: justify;
	font-size: 13px;
	color: rgba(103,103,103,1.00);
	margin-top: 0px;
}
h2{
	
	text-transform:;
	font-weight: 400;
	margin: 3px;
}

p{
	text-align: center;
	font-size: 20px;color: rgba(103,103,103,1.00);
}



h1{
	font-size: 40px;
	font-family: Arial;
	text-transform: uppercase;
	font-weight: 400;
	margin: 10px;
}

@media only screen and (max-width: 450px){
		.service_div{
			width: 200px;
			height: 260px;
		}
		
		h1{
			font-size: 17px;
		}
	p{
		font-size: 15px;
	}
	
	}

@media only screen and (min-width: 450px){
	p{
		text-align: center;
	}
}
/*--------------button 2-----------------------*/
.button2{
	margin: 20px;
	font-family: Arial;
	padding: 10px 30px ;
	
	border: 1px solid #002633;
	background-position
}

.button2:hover{
	color: white;
	background-color: #002633;
	cursor: pointer;
}

/*---------------Header texts and parah---------------*/





/*---------------Contact---------------*/

.contact_add1{
	text-align: left;
	font-size: 18px;
}

.social_conatact{
	text-decoration: none;
	color: black;
}
.social_conatact i{
	margin-top: 5px;
	margin: 0px 10px;
	font-size: 25px; 
	color: #787878;
}

.contact_add1 strong{
	margin-bottom: 34px;
	font-size: 20px;
	color: 0
}
@media only screen and (max-width: 550px){
	
	
	.contact_add1{
	text-align: left;
	font-size: 12px;
}


.contact_add1 strong{
	margin-bottom: 34px;
	font-size: 15px;
	color: 0
}
}








/*---------------admins---------------*/
.pc_admin{
	width: 450px;
}
.admin{
	width: 100%;
	margin-bottom: 10px;
}
.phone_admin{
	
}

@media only screen and (max-width: 600px){
	
	.pc_admin{
	width: 300px;
}
}

@media only screen and (max-width: 350px){
	
	.pc_admin{
	width: 270px;
}
}

@media only screen and (max-width: 320px){
	
	.pc_admin{
	width: 220px;
}
}







