body{
	background-image: url("../img/background/bg.png");
	bottom: 0px;
}

a{
-webkit-tap-highlight-color: transparent;
}




/*---------------buttons-----------------*/
.btn_a a{
	color: white;
	text-decoration: none;
	
}


.btn{
	background: rgba(33,33,33,1.00);
	font: Arial;
	color: white;font-weight: 100;
	font-size:20px;
	padding:15px 30px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	margin-bottom:0;
	margin:10px;
	cursor:pointer;
	transition:color 0.4s linear;
	position:inherit;
	z-index:1;
	-moz-user-select:none;
	border:0;
	overflow:hidden;
	
}


.btn:hover
{
	background: #EC2D48;
}





@media only screen and (max-width: 540px) {

	.btn{
	font-size:15px;
	padding:10px 20px;
	display:inline-block;
	cursor:pointer;
	margin-bottom:0;
	margin:0px;
	
}
	
}





/*--------------Devider-----------------------*/

.devider{
	width: 100px;
	height: 2px;
	border-top: 2px solid #EC2D48;
	margin: 0px;
}

.devider_silver{
	width: 100%;
	height: 2px;
	border-top: 0.1px solid rgba(9,74,96,0.26);
	margin-bottom: 30px;
}



/*--------------sellection-----------------------*/

::selection{
  color: white;
  background: #EC2D48;
}


/*--------------Service home-----------------------*/
.service_div{
	border-radius: 3px;
	font-family:Times New Roman;
	width: 320px;
	height: 340px;
	border: 1px solid rgba(115,115,115,0.78);
	margin: 15px;

	padding-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
}

.service_inner{

}

.service_div i{
	font-size: 40px; 
	color: #363636;
	margin: 10px;
}

p1{
	font-family: arial;
	text-align: justify;
	font-size: 13px;
	color: rgba(103,103,103,1.00);
	margin-top: 0px;
}
h2{
	
	text-transform:;
	font-weight: 400;
	margin: 3px;
}
/*--------------button 2-----------------------*/
.button2{
	margin: 20px;
	font-family: Arial;
	padding: 10px 30px ;
	
	border: 1px solid #002633;
	background-position
}

.button2:hover{
	color: white;
	background-color: #002633;
	cursor: pointer;
}

/*---------------Header texts and parah---------------*/
p{
	text-align: justify;
	font-size: 20px;
}



h1{
	font-size: 40px;
	font-family: Arial;
	text-transform: uppercase;
	font-weight: 400;
	margin: 10px;
}



